
a:link {
    text-decoration: none;
    font-size: 14px;
    font-family: 'Segoe UI';
    font-style: normal;
}

a:hover {
    font-size: 16px;
    color: greenyellow;
}

.altCizgi {
    border: none;
    border-bottom: 4px solid #000;
}

.tb5 {
    border-radius: 10px;
    border: 2px solid #456879;
    font-size: medium;
    font-style: italic;
}

.btn {
    border-radius: 10px;
    border: 2px solid #456879;
    background-color: #D3E4ED;
    font-family: 'Segoe UI';
    font-size: medium;
    font-weight: 700;
}

.btn:hover {
    background-color: #456879;
    color: white;
    font-size: 16px;
}

.yemekKart {
    background-color: #ffb3b3;
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 15px;
    transition: all 0.3s ease;
}

.yemekKart:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 18px rgba(0,0,0,0.25);
    background-color: #ff9999;
}
